*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: arial, sans-serif;
}

header{
    background-color: white;
}

body{
    background-color: #f6f8f9;
}

.features{
    margin: auto;
    background-color: white;
    width: 900px;
    border-radius: 5px;
}

#selection{
    height: 40px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

#square{
    height: 450px;
    margin-top: 2px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

nav{
    margin-top: 30px;
    padding: 7px 40px;
}

.option{
    border-radius: 6px;
    padding: 5px 10px;
    background-color: white;
}

button{
    font-size: 11px;
}

nav :first-child{
    background-color: #14aaf5;
    border: 2px solid #14aaf5;
}

nav :last-child{
    border: 2px solid #c4cbd0;
}

section{
    padding: 15px 40px 0;
}

section div{
    margin: 10px 0 0 0;
}    

h4{
    display: inline-block;
}

.green{
    color: green;
    border: 1px solid green;
    border-radius: 50%;
    padding: 3px;
    font-size: xx-small;
}

.text{
    font-size: 14px;
}

.but{
    border-radius: 20px;
    padding: 5px 10px;
    border: none;
    color: white;
    font-size: 10px;
}

.blu{
    background-color: #09a9ed;
}

.purple{
    background-color: #ab5de6;
}

.red{
    color: red;
    border: 1px solid red;
    border-radius: 50%;
    padding: 3px;
    font-size: xx-small;
}

.aquamarine{
    background-color: #2cc6ab;
}

.orange{
    background-color: #ff9b00;
}

.pink{
    background-color: #ec4a9d;
}

.light_green{
    background-color: #a3d116;
}